# **What is Python?**

*   Invented in early 90s by Guido van Rossum
*   Considered as a scripting language (now, it is much more than that)
*   Provide a huge collection of libraries
*   Pre-installed in Linux and MAC OS X
*   Several IDEs such as IDLE (Windows), Eclipse, ...

## **Python Essentials**

1.   Data Types
2.   Conditional and loop statements
3.   Functions

## **Data Types**

*   Numeric type: int, float, complex
*   Sequence type: list, tuple, range
*   Set type: set, frozenset
*   Mapping type: dict
*   Text type: str
*   Boolean type: bool
*   ...

### **Numeric Type**

In [ ]:
# Assign an integer value to a variable

count = 1
number = 2

print(count)
print(number)

# Assign a floating point number to a variable

float_count = 1.0
float_number = 2.3

print("Count = ", float_count)
print("Count = ", float_count, " and Number =", float_number)

In [ ]:
# Converting float to int

float_number = 2.3
int_number = int(float_number)

print("Integer equivalence = ", int_number)

# Arithmetic operation

result = float_number / 10

print("Result = ", result)

In [ ]:

print("Integer equivalent of float number: "+str(convVar))
print("Note: int function floors the decimal/ float value")
print("You can do various mathematical operations with int variables such as addition(+), subtraction (-), division (/), multiplication (*), floored quotient (//), remainder (%), etc.")
print("You can try these yourselves as an exercise")

### **Sequence Type**

### List

*   One of the most fundamental data structure in Python
*   Simply an ordered collections (similar to array, but with some added functionality) 
*   Can be indexed and store heterogeneous items

Construct lists

In [ ]:
str_list = ['red', 'blue', 'green']
integer_list = [1,2,3]
heterogeneous_list = ['string', 0.1, True]
list_of_lists = [str_list, integer_list, heterogeneous_list, []]

print(str_list)
print(integer_list)
print(heterogeneous_list)
print(list_of_lists)

In [ ]:
# Operations on a list

list_length = len(integer_list)
list_sum = sum(integer_list)

print(list_length, list_sum)

Use square brackets to slice lists

In [ ]:
x = [2, 4, 6, 8, 10]
print(x)

zero = x[0]
one = x[1]
nine = x[-1]          # last element 
eight = x[-2]         # next to last element 

print("Element: ", zero, one, nine, eight)

In [ ]:
x = [1, 3, 5, 7, 9, 11, 13]
print(x)

first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
copy_of_x = x[:]

print("Elements: ", first_three, three_to_end, one_to_four, last_three)
print(copy_of_x)

Concatenate lists together

In [ ]:
x = [1,2,3]
x.extend([4,5,6])

print(x)

In [ ]:
x = [1,2,3]
y = x + [4,5,6]

print(y)

append one item to list

In [ ]:
x = [1,2,3]
x.append(0)
print(x)

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

easier_to_read_list_of_lists = [[1,2,3],
                                [4,5,6],
                                [7,8,9]]

### Tuples

*   Tuples are lists' immutable (unchangeable) cousins
*   Specify a tuple by using parentheses. (or nothing)

In [ ]:
my_list = [1,2]
my_tuple = (1,2)    # use this instead of other_tuple
other_tuple = 3, 4   

print(my_list)
print(my_tuple)
print(other_tuple)

# indexing is similar to list
print(my_tuple[1])

In [ ]:
print(type(my_list))
print(type(my_tuple))

Try to change some values in list and tuple

In [ ]:
my_list[0] = 2 
print(my_list)

my_list[1] = 5 
print(my_list)

In [ ]:
my_tuple[1] = 3

### Range

*   Useful for iterations
*   Immutable similar to Tuple

In [ ]:
x = range(0,10)
print(x)
print(list(x))

y = range(2, 20, 2)
print(y)
print(list(y))

In [ ]:
x = range(2, 12, 2)
print(list(x))        # x = [2, 4, 6, 8, 10]

zero = x[0]
one = x[1]
nine = x[-1]          # last element 
eight = x[-2]         # next to last element 

print("Element: ", zero, one, nine, eight)

### **Text Type : str**

In [ ]:
single_quoted_string = 'ML&intelligence'
double_quoted_string = "ML&intelligence"

print(single_quoted_string, double_quoted_string)

In [ ]:
dept = 'KECE'
no = 345
course_no = dept + str(no)

print(course_no)

### **Mapping Type** : Dictionaries

*   Store items in key-value paris
*   Allow us to quickly retrieve the value corresponding to a given key
*   Keys must be unique

In [ ]:
# list => []
# tuple => ()
# dictionary => {} or dict()

In [ ]:
empty_dict = dict()
empty_dict = {}         # more pythonic 

grades1 = dict(Joel=90, Tim=75)
grades2 = {"Josh": 80, "Tom": 95}
grades3 = {'John': 60, 'Tan': 85}

print(grades1)
print(grades2)
print(grades3)

# use zip function
grades4 = dict(zip(['Joel', 'Tim'], [90, 75]))

# use tuples/lists
grades5 = dict([('Josh', 80), ('Tim', 95)])
grades6 = dict([['John', 60], ['Tan', 85]])

print(grades4)
print(grades5)
print(grades6)

joels_grade = grades2["Josh"]
print(joels_grade)

Dictionary operations

In [ ]:
"Joel" in grades1

In [ ]:
"Joel" in grades2

In [ ]:
num_students = len(grades1)
print(num_students)

In [ ]:
print(grades1)

grades1["Tim"] = 99     # replace
print(grades1)

grades1["Alice"] = 40   # new item
print(grades1)

Get the value of a dictionary item

In [ ]:
print(grades1.get("Joel"))

john_grade = grades1.get("John")
john_grade2 = grades1.get("John", -100)

print(john_grade)
print(john_grade2)

## **Conditional and loop statements**

### **If-else**

In [ ]:
a = 100
b = 200

print(a == b)
print(a is b)
print(a is not b)
print(a == 100 and b == 200)
print(not (a > 200))

In [ ]:
if a > b:
  print('a is greater than b')
elif a < b:
  print('b is greater than a')
else:
  print('a is equal to b')

In [ ]:
score = int(input("Enter score: "))   # user input
if score > 70:
  grade = "Pass"
else:
  grade = "Fail"
print(grade)

### **Loops: for & while**

Iterate through a sequence

In [ ]:
for i in [1,2,3]:
    print (i)
    for j in [1,2,3]:
        print (j, ":", i+j)
    print (i) 
print ("done looping")

Iterate through a rnage of numbers

In [ ]:
for i in range(3,6):
  print(i)

While loop

In [ ]:
a = 1
while a < 5:
  a = a * 2;
  print(a)
print('Result = ', a)

## **Functions**

Python functions are first-class, which means that we can assign 
them to variables and pass them into functions just like any other arguments

In [ ]:
def make_double(x):
    return x * 2

In [ ]:
print(make_double(4))

In [ ]:
def apply_to_one(f):          # a function that feeds 1 into another function
    return f(1)

In [ ]:
my_double = make_double       # refers to the previously defined function 
x = apply_to_one(my_double)

print(x)

Easy to create short anonymous functions, or lambdas:

In [ ]:
y = apply_to_one(lambda x: x+4)
print(y)

In [ ]:
def times_two(x):
    return x*2

times_two(3)

In [ ]:
times_two = lambda x: x*2

times_two(4)

Function parameters can also be given default arguments, which only need to be specified when you want a value other than the default:

In [ ]:
def my_print(message="my default message"):
    print(message)
    
my_print("hello")
my_print()

In [ ]:
def subtract(a=0, b=0):
    return a-b

print(subtract(10,5))
print(subtract(0,5))
print(subtract(b=5))

Tuples are a convenient way to return multiple values from functions:

In [ ]:
def sum_and_product(x,y):
    return (x+y),(x*y)

sp = sum_and_product(2,3)
print("sum and product = ", sp)

a, b = sum_and_product(2,3)
print("sum = ", a, "product = ", b) 

_, b = sum_and_product(2,3)
print("product = ", b)

In [ ]:
def sum_subtract_product(x,y):
    return (x+y),(x-y),(x*y)

result = sum_subtract_product(4,5)
print(result)

Let's consdier a case where you want to multiply each element in a list by 2

In [ ]:
x = [1,2,3,4]
y = 2*x
print(y)

In [ ]:
def mul2(x):
    return 2*x

print(mul2(3))

In [ ]:
x = [1,2,3,4]
y = []
for i in x:
    y.append(mul2(i))
print(y)

Better Pythonic code

In [ ]:
y = [mul2(i) for i in x]
print(y)

### Map

*   Apply a function to each element of an iterable
*   Return a list containing the result of those operations
*   map(f, S): f is a function that takes one argument and returns a value, S is any iterable

In [ ]:
y = map(mul2, x)
list(y)

In [ ]:
y = map(lambda z: z+200, [3, 4, 5, 6])
list(y)